.trail {
    color: black;
    background-color: rgb(249, 255, 250);
    border-radius: 20px;
    align-items: center;
}    

.weather {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 20px;
    margin-right: -200px;
}
.columns {
    column-gap: 10px;
    margin: auto;
    box-shadow: black;
}
body {
    background-color: rgb(235, 231, 231);
}
h2 {
    font-size: 30px;
    color: black;
}
.title {
    color: black;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
img {
    border-radius: 20px;
    float: center;
}
.subtitle {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
    background-color: black;
}